<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
    <!-- Includes the page header -->
    <%- include("../../../partials/head", {js: "courier/overview"}) %>
</head>
<body>
<div class="flex">

    <!-- Include the sidebar -->
    <%- include("../../../partials/dashboard/sidebar", { isShopOwner: false }) %>

    <!-- Shows a header based on the context such as whether the courier is
     working today and/or whether or not he has any packages to deliver. -->
    <div class="max-w-7xl mx-auto px-4 mt-16 flex-1 overflow-hidden">
        <div class="text-center sm:text-left">
            <h1 class="font-bold text-3xl sm:text-4xl text-slate-800">Shipments overview</h1>
            <p class="text-lg sm:text-xl font-medium text-slate-500 mt-3 max-w-sm inline-block">
                <%= orders.length > 0 ?
                        "View today's travel route, or update an order's status using the QR code scanner." :
                        "You currently have no shipments to be delivered."%></p>
            <%if(daySchedule !== null){%>
                <p class="text-sm sm:text-xl font-medium text-slate-500 mt-3 max-w-sm inline-block">
                You are scheduled to work today <br>from <b><%= daySchedule.start %></b> to <b><%= daySchedule.end %></b>.</p>
            <%}else{%>
                <p class="text-sm sm:text-xl font-medium text-slate-500 mt-3 max-w-sm inline-block">
                You are not scheduled to work today.</p>
            <%}%>
        </div>

        <!-- the notification button -->
        <div id="subscribeButtonContainer" class="flex mt-8 mb-4 flex-col
         items-center sm:items-start hidden">
            <h2 class="text-center">You are currently offline. Turn on notifications to receive order requests.</h2>
            <button id="subscribeButton"><a class="text-blue-500"
             style="color: blue; text-decoration: underline;">Turn on notifications</a></button>
        </div>

        <!-- container that holds both the 'view route' button and the 'update shipment' button -->
        <%if(orders.length > 0 && daySchedule !== null){ %>
        <div id="button-container" class="flex flex-wrap mt-8 mb-4
         items-center flex-col sm:justify-start sm:flex-row hidden">
            <a>
                <button id="viewRouteButton" type="button"
                        class="mb-3 sm:mb-0 sm:mr-8 bg-cyan-500 hover:bg-cyan-700
                 text-white text-xl font-normal py-2 px-4 rounded-lg flex transition-colors">
                    <%- include("../../../partials/svg/location_icon") %>
                    <span>Get route directions</span>
                </button>
            </a>
            <a href="/dashboard/scan">
                <button id="updateShipmentButton" type="button"
                        class="bg-cyan-500 hover:bg-cyan-700
                 text-white text-xl font-normal py-2 px-4 rounded-lg flex transition-colors">
                    <%- include("../../../partials/svg/qr_code_logo") %>
                    <span>Update shipment</span>
                </button>
            </a>
        </div>

        <!-- Visual header of the checkpoints table -->
        <h2 class="font-medium text-2xl text-slate-800 my-4 flex">
            <%- include("../../../partials/svg/package_icon") %>
            <span class="ml-3">Checkpoints</span>
        </h2>

        <!-- Table holding the checkpoints. Javascript loops are used to include
         both the column headers and the rows themselves without repeating code. -->
        <div id="checkpointsTableContainer" class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="border border-slate-200 rounded-lg">
                    <table class="min-w-full divide-y divide-slate-200 overflow-hidden rounded-lg">
                        <thead>
                        <tr class="bg-slate-100">
                            <% let checkpointColumnHeaders = ['#', 'Type', 'Address',
                            'Postal code', 'City', 'Country', 'Order ID', 'Time'];
                            for(let i = 0; i < 8; i++){ %>
                            <th data-order-toggle="id" scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-slate-500 tracking-wider">
                                <span class="flex items-center">
                                  <%=checkpointColumnHeaders[i]%>
                                </span>
                            </th>
                            <%}%>
                        </tr>
                        </thead>
                        <tbody id="checkpointsTable" class="bg-slate-100 divide-y divide-slate-200">
                        <%for(let i = 0; i < (orders.length*2); i++){%>
                            <tr class="order checkpoint text-slate-500 bg-white">
                                <% let columnTypes = ['indexContainer', 'typeContainer',
                                                    'addressContainer', 'postalCodeContainer',
                                                     'cityContainer', 'countryContainer',
                                                      'orderIdContainer','timeContainer'];
                                for(let i = 0; i < 8; i++){%>
                                <td class="px-6 py-4 whitespace-nowrap ">
                                    <div class="loading-pulse animate-pulse rounded-full bg-slate-200 h-5 w-full"></div>
                                    <div class="flex items-center ">
                                        <div class="<%=columnTypes[i]%> text-sm font-medium text-slate-900 inline-block">
                                        </div>
                                    </div>
                                </td>
                                <%}%>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Visual header of the orders table -->
        <h2 class="font-medium text-2xl text-slate-800 mb-4 mt-8 flex">
            <%- include("../../../partials/svg/package_icon") %>
            <span class="ml-3">Order & customer info</span>
        </h2>

        <!-- Table holding the orders. Javascript loops are used to include
         both the column headers and the rows themselves without repeating code. -->
        <div id="ordersTableContainer" class="-my-2 mb-8 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden border-b border-slate-200">
                    <table class="min-w-full divide-y divide-slate-200">
                        <thead>
                        <tr class="bg-slate-200">
                            <% let orderColumnHeaders = ['Id', 'Weight',
                                'Status', 'Email address', 'Phonenumber'];
                            for(let i = 0; i < 5; i++){ %>
                            <th scope="col" class="px-6 py-3 text-left text-xs
                            font-medium text-slate-500 tracking-wider">
                                <span class="flex items-center">
                                  <%=orderColumnHeaders[i]%>
                                </span>
                            </th>
                            <%}%>
                        </tr>
                        </thead>
                        <tbody id="ordersTable" class="bg-white divide-y divide-slate-200">
                        <% orders.forEach((order) => { %>
                            <tr class="order text-slate-500 bg-white">
                            <% let orderAttributes = [order.id, order.weight,
                                order.status, order.email, order.phone_number];
                            for(let i = 0; i < 5; i++){ %>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <%if(orderAttributes[i] === order.id){%>
                                        <div class="order-id-attribute text-sm
                                         font-medium text-slate-900"><%= orderAttributes[i] %></div>
                                    <%}else if(orderAttributes[i] === order.status){%>
                                        <!-- determine the color of the status based on its message -->
                                        <%let statusColor = "";
                                        switch(order.status){
                                            case "SORTING": statusColor = 'slate'; break;
                                            case "READY": statusColor = 'slate'; break;
                                            case "TRANSIT": statusColor = 'yellow'; break;
                                            case "DELIVERED": statusColor = 'green'; break;
                                        }%>
                                        <span class="status-attribute px-2 inline-flex text-xs leading-5
                                         font-semibold rounded-full bg-green-100 text-<%=statusColor%>-800">
                                        <%= order.status %>
                                        </span>
                                    <%}else{%>
                                        <div class="text-sm font-medium text-slate-900"><%= orderAttributes[i] %></div>
                                    <%}%>
                                </div>
                            </td>
                            <%}%>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>
</body>
</html>
