<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
    <%- include("../../../partials/head", { js: "courier/settings" }) %>
</head>
<body data-user-id="<%= user.id %>" data-schedule-id="<%= schedule.id ? schedule.id : null %>">
<!-- include("../../../partials/modal", { id: "delete-format", type: "warning", actions: { confirm: { type: "warning", label: "Delete" } }, title: "Are you sure?", description: "Are you sure you want to delete order " + formats.id + "? You cannot go back." })  -->
<div class="flex">
    <%- include("../../../partials/dashboard/sidebar", {isShopOwner: false}) %>
    <div class="p-10 flex-1 overflow-hidden">
        <%- include("../../../partials/breadcrumb", { links: [{ name: "Overview", href: "/dashboard/overview" }, { name: "Settings", href: "/dashboard/" }] }) %>
        <div class="flex flex-col-reverse md:flex-row mt-10 bg-white rounded-xl border border-slate-200 p-8">

            <div class="w-full">

                <form id="formTime">

                    <h2 class="font-medium text-2xl text-slate-800 mb-4 flex">

                        <%- include("../../../partials/svg/clock_icon") %>
                        Working times
                    </h2>

                    <%- include("../../../partials/courier/timeselector", { title: "Monday", schedule: schedule.monday, organisationSchedule: organisationSchedule.monday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Tuesday", schedule: schedule.tuesday, organisationSchedule: organisationSchedule.tuesday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Wednesday", schedule: schedule.wednesday, organisationSchedule: organisationSchedule.wednesday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Thursday", schedule: schedule.thursday, organisationSchedule: organisationSchedule.thursday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Friday", schedule: schedule.friday, organisationSchedule: organisationSchedule.friday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Saturday", schedule: schedule.saturday, organisationSchedule: organisationSchedule.saturday }) %>
                    <%- include("../../../partials/courier/timeselector", { title: "Sunday", schedule: schedule.sunday, organisationSchedule: organisationSchedule.sunday }) %>

                    <button class="bg-cyan-500 hover:bg-cyan-700 text-white font-medium py-2 px-4 rounded-lg flex my-4 float-right transition-colors"
                            type="button" id="saveTimetable">
                        Save
                        <%- include("../../../partials/svg/plus_icon") %>
                    </button>

                </form>

            </div>
        </div>

         <div class="mt-10 bg-white rounded-xl border border-slate-200 p-8">

            <h1 class="block text-slate-800 text-2xl font-bold mb-6">
                Start location
            </h1>

            <form id="startLocation">

                <div class="flex flex-col mb-4 mx-2">
                    <label class="mb-2 font-bold text-sm text-slate-900" for="country"
                    >Address</label
                    >
                    <table class="border border-t-0 py-2 px-3 text-slate-800 rounded-lg">
                    <thead>
                        <tr>
                          <div class="relative">
                              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <%- include("../../../partials/svg/search_icon") %>
                              </div>
                              <input
                                class="bg-slate-50 border border-slate-200 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block pl-10 p-2 w-full"
                                type="text"
                                name="address"
                                id="address"
                                placeholder="e.g. Wibautstraat 4"
                              />
                          </div>
                        </tr>
                      </thead>
                      <tbody id="addresses">
                      </tbody>
                    </table>
                </div>

                <div class="flex flex-col mb-4 mx-2">
                  <label class="mb-2 font-bold text-sm text-slate-900" for="country"
                    >Country/Origin</label
                  >
                  <input data-input-address
                    class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                    type="text"
                    name="country"
                    id="country"
                  />
                  <p
                  class="text-red-500 text-sm"
                  id="country_p"
                  ></p
                  >
                </div>

                <div class="flex flex-row flex-wrap justify-between grow">
                  <div class="flex flex-col mb-4 grow w-3/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="postal_code"
                      >Postal Code</label
                    >
                    <input data-input-address
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="postal_code"
                      id="postal_code"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="postal_code_p"
                    ></p
                    >
                  </div>
                  <div class="flex flex-col mb-4 grow w-1/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="city"
                      >City</label
                    >
                    <input data-input-address
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="city"
                      id="city"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="city_p"
                    ></p
                    >
                  </div>
                </div>

                <div class="flex flex-row flex-wrap justify-between grow">
                  <div class="flex flex-col mb-4 grow w-3/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="street"
                      >Street</label
                    >
                    <input data-input-address
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="street"
                      id="street"
                    />
                    <p
                    class="text-red-500 text-sm"
                    id="street_p"
                    ></p
                    >
                  </div>
                  <div class="flex flex-col mb-4 grow w-1/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="houseNumber"
                      >House number</label
                    >
                    <input data-input-address
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="house_number"
                      id="house_number"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="house_number_p"
                    ></p
                    >
                  </div>
                </div>

                <div class="flex justify-end">
                  <button class="bg-cyan-500 hover:bg-cyan-700 text-white font-medium py-2 px-4 rounded-lg flex my-4 float-right transition-colors"
                          type="button" id="saveAddress">
                      Save
                      <%- include("../../../partials/svg/plus_icon") %>
                  </button>
                </div>

            </form>

        </div>

    </div>
</div>
</body>
</html>
