<% const id = title.toLowerCase() %>

<h2 class="font-medium text-xl text-slate-800 mb-4 flex"><%= title %><span id="<%= id %>_span" class="pl-1.5 pb-0.5 text-slate-400"><%= !organisationSchedule ? "Closed" : "" %></span>
<% if (organisationSchedule) { %><input <%= schedule ? "checked" : "" %> id="<%= id %>_cb" name="<%= id %>_cb" class="mt-2 w-4 h-4 text-cyan-500 bg-slate-100 rounded border-slate-300 focus:ring-cyan-500" type="checkbox"></input><% } %>
</h2>
<div class="flex flex-row flex-wrap justify-between">
    <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
        <label class="mb-2 font-bold text-sm text-slate-900" for="<%= id %>Start">From</label>
        <input <%= organisationSchedule ? "" : "disabled" %> data-timetable-input data-input-cb="<%= id %>_cb" class="py-2 px-3 text-slate-<%= organisationSchedule ? "800" : "400" %> rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
               type="time" name="<%= id %>Start" id="<%= id %>Start"
               value="<%= schedule?.start %>"/>
        <p class="text-red-500 text-sm" id="<%= id %>Start_p"></p>
    </div>
    <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
        <label class="mb-2 font-bold text-sm text-slate-900" for="<%= id %>End">Until</label>
        <input <%= organisationSchedule ? "" : "disabled" %> data-timetable-input data-input-cb="<%= id %>_cb" class="py-2 px-3 text-slate-<%= organisationSchedule ? "800" : "400" %> rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
               type="time" name="<%= id %>End" id="<%= id %>End"
               value="<%= schedule?.start %>"/>
        <p class="text-red-500 text-sm" id="<%= id %>End_p"></p>
    </div>
</div>