<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
  <head>
    <%- include("../../../partials/head") %>
  </head>
  <body>
  <%- include("../../../partials/dashboard/navbar") %>
  <div class="flex justify-center items-center h-screen w-full bg-white-400">
      <div class="w-1/2 bg-white rounded-xl border border-slate-200 p-8 m-4">
          <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Edit order #<%= order.id %></h1>
          <form action="/api/orders/edit" method="POST">
              <input type="hidden" name="id" value="<%= order.id %>">
              <div class="flex flex-col mb-4 mx-2">
                  <label class="mb-2 font-bold text-sm text-gray-900" for="first_name">Email-Adress</label>
                  <input class="border py-2 px-3 text-grey-800 rounded-lg" type="email" name="email" id="email" value="<%= order.email %>" required>
              </div>

                <div class="flex flex-col mb-4 mx-2">
                  <label class="mb-2 font-bold text-sm text-gray-900" for="country">Country/Origin</label>
                  <input class="border py-2 px-3 text-grey-800 rounded-lg" type="text" name="country" id="country"
                  value="<%= order.country %>" required>
              </div>

                <div class="flex flex-row flex-wrap justify-between grow">
                    <div class="flex flex-col mb-4 grow w-3/6 mx-2 min-w-min">
                        <label class="mb-2 font-bold text-sm text-gray-900" for="street">Street</label>
                        <input class="border py-2 px-3 text-grey-800 rounded-lg" type="text" name="street" id="street"
                        value="<%= order.address.split(" ")[0] %>" required>
                    </div>
                    <div class="flex flex-col mb-4 grow w-1/6 mx-2 min-w-min">
                        <label class="mb-2 font-bold text-sm text-gray-900" for="houseNumber">House number</label>
                        <input class="border py-2 px-3 text-grey-800 rounded-lg" type="number" name="houseNumber" id="houseNumber"
                        value="<%= order.address.split(" ")[1] %>" required>
                    </div>
                </div>

                <div class="flex flex-col mb-4 mx-2">
                    <label class="mb-2 font-bold text-sm text-gray-900" for="weight">Weight in grams</label>
                    <input class="border py-2 px-3 text-grey-800 rounded-lg" type="number" name="weight" id="weight"
                    value="<%= order.weight %>" required>
                </div>

                <div class="flex flex-col mx-2 mb-4">
                    <label class="mb-2 font-bold text-sm text-gray-900" for="sizeFormat">Size format</label>
                    <select class="mb-2 font-bold py-2 rounded-lg text-lg text-gray-900 border border-slate-200" name="sizeFormat" id="sizeFormat">
                    <option value="1">format 1</option>
                    <option value="2">format 2</option>
                    <option value="3">format 3</option>
                    </select>
                </div>

                <div class="flex flex-col mx-2 mb-4">
                    <label class="mb-2 font-bold text-sm text-gray-900" for="sizeFormat">Order state</label>
                    <select class="mb-2 font-bold py-2 rounded-lg text-lg text-gray-900 border border-slate-200" name="state" id="state">
                    <option value="SORTING" <%= (order.state === "SORTING") ? "selected" : "" %>>Sorting</option>
                    <option value="READY" <%= (order.state === "READY") ? "selected" : "" %>>Ready</option>
                    <option value="TRANSIT" <%= (order.state === "TRANSIT") ? "selected" : "" %>>Transit</option>
                    <option value="DELIVERED" <%= (order.state === "DELIVERED") ? "selected" : "" %>>Delivered</option>
                    <option value="FAILED" <%= (order.state === "FAILED") ? "selected" : "" %>>Failed</option>
                    </select>
                </div>

              <div class="flex justify-end">
                  <button class="block bg-cyan-500 hover:bg-cyan-700 text-white text-sm py-3 px-4 w-1/4 rounded-xl " type="submit">Save</button>
              </div>

          </form>

      </div>
  </div>
  </body>
</html>
