<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
    <%- include("../../../partials/head", {js: "dashboard/formats/edit"}) %>
</head>
<body>
<div class="flex">
    <%- include("../../../partials/dashboard/sidebar") %>
    <div class="p-10 flex-1 overflow-hidden">
        <%- include("../../../partials/breadcrumb", { links: [{ name:
        "Settings", href: "/dashboard/settings" }, {
        name: "Format",
        href: "/dashboard/orders"
        }, { name: `Edit format #${format.nameformat}` }] }) %>
        <div class="mt-10 bg-white rounded-xl border border-slate-200 p-8">
            <h1 class="block text-gray-800 text-2xl font-bold mb-6">Edit Format <%= format.nameformat %></h1>
            <form name="name" id="editFormat" data-format-id="<%= format.id%>">
                <input type="hidden" name="id" value="<%= format.nameformat %>">
                <div class="flex flex-col mb-4 mx-2">
                    <label
                            class="mb-2 font-bold text-sm text-slate-900"
                            for="name"
                    >Name Format</label
                    >
                    <input
                            class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                            type="text"
                            id="nameformat2"
                            value="<%= format.nameformat %>"
                    />
                    <p
                            class="text-red-500 text-sm"
                            id="error6"
                    ></p
                    >
                </div>

                <div class="flex flex-col mb-4 mx-2">
                    <label
                            class="mb-2 font-bold text-sm text-slate-900"
                            for="Length"
                    >Length</label
                    >
                    <input
                            class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                            type="number"
                            name="length"
                            id="length2"
                            value="<%= format.length %>"
                    />
                    <p
                            class="text-red-500 text-sm"
                            id="error7"
                    ></p
                    >
                </div>

                <div class="flex flex-col mb-4 mx-2">
                    <label
                            class="mb-2 font-bold text-sm text-slate-900"
                            for="Width"
                    >Width</label
                    >
                    <input
                            class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                            type="number"
                            name="width"
                            id="width2"
                            value="<%= format.width %>"
                    />
                    <p
                            class="text-red-500 text-sm"
                            id="error8"
                    ></p
                    >
                </div>

                <div class="flex flex-col mb-4 mx-2">
                    <label
                            class="mb-2 font-bold text-sm text-slate-900"
                            for="country"
                    >Height</label
                    >
                    <input
                            class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                            type="number"
                            name="height"
                            id="height2"
                            value="<%= format.height %>"
                    />
                    <p
                            class="text-red-500 text-sm"
                            id="error9"
                    ></p
                    >
                </div>

                <div class="flex justify-end">
                    <button
                            class="block bg-cyan-500 hover:bg-cyan-700 text-white text-sm py-3 px-4 w-1/4 rounded-xl transition-colors"
                            type="button"
                            id="saveFormat"
                    >
                        Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
