<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
  <head>
    <%- include("../../../partials/head", { js: "dashboard/orders/list" }) %>
  </head>
  <body>
    <%- include("../../../partials/modal", { id: "delete-order", type: "warning", actions: { confirm: { type: "warning", label: "Delete" } }, title: "Are you sure?", description: "Are you sure you want to delete this order? You cannot go back." }) %>
    <div class="flex">
      <%- include("../../../partials/dashboard/sidebar") %>
      <div class="p-10 flex-1 overflow-hidden space-y-10">
        <%- include("../../../partials/breadcrumb", { links: [{ name: "Overview", href: "/dashboard/overview" }, { name: "Orders" }] }) %>
        <div class="space-y-6">
          <div class="flex items-center gap-4 justify-center md:justify-start">
            <div class="sm:h-16 sm:w-16 h-12 w-12 rounded-md bg-slate-200 p-2 text-slate-800">
              <svg viewBox="-2 -4 24 24" class="w-full h-full" fill="currentColor">
                <path d="M3 0h14a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zm0 2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3zm10.874 5a4.002 4.002 0 0 1-7.748 0H2V5h16v2h-4.126zm-2.142 0H8.268a2 2 0 0 0 3.464 0z"></path>
              </svg>
            </div>
            <h1 class="font-bold text-3xl sm:text-4xl text-slate-800">Orders</h1>
          </div>
          <p class="text-lg sm:text-xl font-medium text-slate-500 max-w-xl inline-block text-center md:text-left space-y-3">Manage your orders here. This includes creating new orders, editing existing orders, and deleting orders when necessary</p>
        </div>
        <%- include("../../../partials/dashboard/orders") %>
      </div>
    </div>
  </body>
</html>
